:root {
	--main-bg-color: #fff;
	--second-bg-color: #f5f5f5;

	--primary-color: #ee4d2d;
	--second-color: #445aff;

	--black-color: #000;
	--white-color: #fff;
	--red-color: #f63d30;
	--star-color: #ffc107;

	--success-color: #47d864;
	--info-color: #2f86eb;
	--warning-color: #ffc021;
	--error-color: #ff623d;

	--top-header-height: 80px;
	--bottom-header-height: 45px;
	--slider-height: calc(
		100vh - (var(--top-header-height) + var(--bottom-header-height))
	);

	--sidebar-width: 250px;
	--sidebar-header-height: 80px;
	--admin-header-height: 70px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--main-bg-color);
	overflow-x: hidden;
	position: relative;
}

button {
	cursor: pointer;
}

.link {
	display: inline-block;
	text-decoration: none;
	color: unset;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.required {
	color: var(--red-color);
}

/* background */
.bg-main {
	background-color: var(--main-bg-color);
}

.bg-second {
	background-color: var(--second-bg-color);
}
/* end background */

/* input custom */
.input-field {
	position: relative;
}

.input-field__input {
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 4px;

	width: 100%;
	height: 45px;
	padding: 0 20px;
	transition: border-color 0.25s ease;
}

.input-field__textarea {
	resize: none;
	padding: 15px 20px;
	font-size: 14px;
	height: 70px;
}

.input-field__input:focus {
	border-color: var(--primary-color);
}

.input-field__label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 21px;

	user-select: none;
	color: #999;
	pointer-events: none;
	font-size: 14px;
	transition: all 0.25s ease;
}

.input-field__textarea ~ .input-field__label {
	top: 20px;
}

.input-field__input:not(:placeholder-shown) + .input-field__label,
.input-field__input:focus + .input-field__label {
	top: 0;
	left: 11px;
	padding: 0 10px;

	display: inline-block;
	background-color: var(--white-color);
	color: var(--primary-color);
}

.input-field__icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;

	font-size: 18px;
	transition: color 0.2s ease;
}

.input-field__icon:hover {
	cursor: pointer;
	color: var(--primary-color);
}

/* end input custom*/

/* badge */
.badge {
	position: relative;
}

.badge__count {
	position: absolute;
	top: -8px;
	right: -8px;
	border-radius: 50%;
	z-index: 1;

	--size: 20px;
	min-width: var(--size);
	min-height: var(--size);
	font-size: 14px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.badge__count.badge__count--primary {
	background-color: var(--primary-color);
	color: var(--white-color);
}
/* end badge */

/* dropdown */
.dropdown {
	width: 100%;
	max-width: 300px;
	position: relative;
	cursor: pointer;
}

.dropdown.readonly {
	cursor: default;
}

.dropdown__select {
	width: 100%;
	padding: 10px 20px;
	background-color: var(--white-color);
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border: 1px solid #e0e0e0;
	font-size: 15px;
}

.dropdown__select-icon {
	margin-left: 10px;
	font-size: 18px;
	color: #999;
}

.dropdown__list {
	position: absolute;
	top: calc(100% + 10px);
	left: 0;
	z-index: 99;

	background-color: var(--white-color);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 4px;
	width: max-content;

	max-height: 200px;
	display: none;
}

.dropdown.active .dropdown__list {
	display: block;
}

.dropdown__item {
	padding: 8px 20px;
	display: flex;
	align-items: center;
	transition: background-color 0.2s ease;
	cursor: pointer;
}

.dropdown__item:hover {
	background-color: #f0f0f0;
}

.dropdown__item:first-child {
	position: relative;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.dropdown__item:first-child::before {
	content: '';
	position: absolute;
	top: 0;
	transform: translateY(-100%);
	left: 10px;

	border: 8px solid;
	border-color: transparent transparent var(--white-color) transparent;
	transition: border-bottom-color 0.2s ease;
}

.dropdown__item:first-child:hover::before {
	border-bottom-color: #f9f9f9;
}

.dropdown__item:first-child::after {
	content: '';
	position: absolute;
	top: 0;
	transform: translateY(-100%);
	left: 0;

	width: 100%;
	height: 10px;
}

.dropdown__item:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.dropdown__item.active {
	color: var(--primary-color);
}

.dropdown__select-default {
	margin-right: 5px;
}

.dropdown__icon {
	margin-right: 10px;
	font-size: 22px;
}
/* end dropdown */

/* button */
.btn {
	min-width: 140px;
	height: 38px;
	outline: 0;
	border: 0;

	text-decoration: none;
	color: var(--black-color);

	display: inline-flex;
	justify-content: center;
	align-items: center;

	border-radius: 2px;
	font-size: 14px;
}

.btn:hover {
	opacity: 0.9;
}

.btn.btn--primary {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.reset__btn {
	outline: none;
	border: 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
}
/* end button */

/* checkbox */
.checkbox {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.checkbox__input {
	position: absolute;
	top: 2px;
	left: 0;

	transform: scale(1.5);
	opacity: 0;
	cursor: pointer;
}

.checkbox__box {
	--size: 16px;
	width: var(--size);
	height: var(--size);

	border: 1px solid #7b7979;
	border-radius: 2px;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 10px;
	flex-shrink: 0;
	transition: all 0.15s ease;
}

.checkbox__box::after {
	content: '\2714';
	font-size: 12px;
	color: var(--white-color);
	transform: scale(0);
	transition: all 0.15s ease;
}

.checkbox__input:checked + .checkbox__box {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.checkbox__input:checked + .checkbox__box::after {
	transform: scale(1);
}
/* end checkbox */

/* radio */
.radio {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.radio + .radio {
	margin-left: 15px;
}

.radio__input {
	position: absolute;
	top: 3px;
	left: 3px;

	transform: scale(1.5);
	opacity: 0;
	cursor: pointer;
}

.radio__box {
	--size: 18px;
	width: var(--size);
	height: var(--size);

	border: 1px solid #7b7979;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 10px;
	flex-shrink: 0;
	transition: all 0.15s ease;
}

.radio__box::after {
	content: '';
	--size: 10px;
	height: var(--size);
	width: var(--size);

	border-radius: 50%;
	background-color: var(--primary-color);
	transform: scale(0);
	transition: all 0.15s ease;
}

.radio__input:checked + .radio__box {
	border-color: var(--primary-color);
}

.radio__input:checked + .radio__box::after {
	transform: scale(1);
}
/* end radio */

/* pagination */
.pagination {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.pagination.hidden {
	display: none;
}

.pagination__item {
	margin: 0 5px;
}

.pagination__item-link {
	display: block;
	text-decoration: none;
	font-weight: 300;
	font-size: 15px;

	color: #888;
	min-width: 35px;
	text-align: center;

	--size: 30px;
	height: var(--size);
	line-height: var(--size);
}

.pagination__item.hidden .pagination__item-link {
	cursor: default;
	opacity: 0.3;
}

.pagination__item.active .pagination__item-link {
	background-color: var(--primary-color);
	color: var(--white-color);
	border-radius: 3px;
}

.pagination__item.active .pagination__item-link:hover {
	opacity: 0.9;
}

.pagination__item-icon {
	font-size: 25px;
	--size: 30px;
	height: var(--size);
	line-height: var(--size);
}
/* end pagination */

/* table */
table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid var(--primary-color);
}

table th,
table td {
	padding: 10px 20px;
	text-align: left;
}

table th {
	font-weight: 400;
	background-color: var(--primary-color);
	color: var(--white-color);
}

table tbody tr {
	border-top: 1px solid #f0f0f0;
	transition: background-color 0.1s ease;
}

table tbody tr:hover {
	background-color: #f9f9f9;
}
/* end table */

/* tooltip */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip::before,
.tooltip::after {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	opacity: 0;
	visibility: hidden;
}

.tooltip:hover::before,
.tooltip:hover::after {
	opacity: 1;
	visibility: visible;
}

.tooltip::before {
	content: attr(tooltip-title);
	top: -35px;

	padding: 5px 10px;
	background-color: var(--black-color);
	color: var(--white-color);

	border-radius: 3px;
	font-size: 14px;
	width: max-content;
}

.tooltip::after {
	content: '';
	top: -10px;

	border: 6px solid;
	border-color: var(--black-color) transparent transparent transparent;
}
/* end tooltip */

/* toast */
#toast {
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 99;
}

.toast {
	display: flex;
	align-items: center;
	background-color: var(--white-color);

	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

	padding: 20px 0;
	overflow: hidden;
	position: relative;

	min-width: 300px;
	max-width: 350px;
	transition: all 0.3s linear;
}

.toast + .toast {
	margin-top: 20px;
}

.toast__icon {
	font-size: 25px;
	margin: 0 10px;

	display: flex;
	align-items: center;
}

.toast__msg {
	color: #333;
	padding-right: 20px;
}

.toast__close {
	position: absolute;
	top: 5px;
	right: 5px;

	color: #555;
	font-size: 20px;
	transition: all 0.2s ease;
}

.toast__progress {
	position: absolute;
	bottom: 0;
	left: 0;

	height: 3px;
	width: 100%;
	background-color: var(--white-color);
}

.toast__progress-timing {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;

	height: 100%;
	width: 100%;
}

.toast__close:hover {
	cursor: pointer;
	color: var(--primary-color);
}

.toast--success .toast__icon {
	color: var(--success-color);
}

.toast--success .toast__progress-timing {
	background-color: var(--success-color);
}

.toast--info .toast__icon {
	color: var(--info-color);
}

.toast--info .toast__progress-timing {
	background-color: var(--info-color);
}

.toast--warning .toast__icon {
	color: var(--warning-color);
}

.toast--warning .toast__progress-timing {
	background-color: var(--warning-color);
}

.toast--error .toast__icon {
	color: var(--error-color);
}

.toast--error .toast__progress-timing {
	background-color: var(--error-color);
}
/* end toast */

/* modal */
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;

	display: none;
	animation: fadeIn 0.1s linear;
}

.modal.active {
	display: flex;
}

.modal__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
	--scale-from: 0.7;
	--scale-to: 1;

	margin: auto;
	background-color: var(--white-color);
	border-radius: 3px;

	position: relative;
	z-index: 1;
	animation: scale 0.1s linear;
}
/* end modal */

/* tabs */
.tabs {
	display: flex;
	position: relative;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.tab__line {
	position: absolute;
	left: 0;
	bottom: 0;

	width: 0;
	height: 2px;
	border-radius: 15px;

	background-color: var(--primary-color);
	transition: all 0.3s ease;
}

.tab__item {
	padding: 15px 20px 12px;
	font-size: 15px;
	text-align: center;
	background-color: var(--white-color);

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 2px solid transparent;

	cursor: pointer;
	transition: all 0.5s ease;
	width: 100%;
}

.tab__icon {
	font-size: 24px;
	width: 32px;
	position: relative;
	top: 2px;
}

.tab__item:hover {
	border-color: #ee4d2d7d;
	color: #ee4d2d7d;
}

.tab__item.active {
	opacity: 1;
	color: var(--primary-color);
	background-color: var(--white-color);
}

.tab__item.hidden,
.tab__item:hover.hidden {
	color: #999;
	background-color: #f9f9f9;
	border-color: #f9f9f9;
	cursor: default;
}

.tab__content {
	background-color: var(--white-color);
}

.tab__pane {
	color: #333;
	display: none;
}

.tab__pane.active {
	display: block;
}

/* end tabs */

/* box status */
.box__status {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 15px;
	color: var(--white-color);
}

.box__status + .box__status {
	margin-left: 10px;
}

.box--pending,
.box--returned,
.box--warning {
	background-color: var(--warning-color);
}

.box--shipping {
	background-color: var(--info-color);
}

.box--delivered {
	background-color: var(--success-color);
}

.box--cancelled,
.box--error {
	background-color: var(--error-color);
}
/* box status */

/* animation */
@keyframes growth {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes scale {
	from {
		transform: scale(var(--scale-from));
	}
	to {
		transform: scale(var(--scale-to));
	}
}

@keyframes slideInLeft {
	from {
		transform: translateX(calc(100% + 15px));
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

@keyframes progressing {
	to {
		right: 100%;
	}
}
/* end animation */
