/* hero section */
.hero {
	height: var(--slider-height);
	padding: 0 20px;
}

.slider,
.slider .container {
	height: 100%;
	position: relative;
}

.slide {
	height: 100%;
	position: absolute;
	/* inset = top, right, bottom, left */
	inset: 0;

	display: flex;
	overflow: hidden;
	visibility: hidden;
}

.slide.active {
	visibility: visible;
}

.slide__info {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.slide__info-name {
	font-size: 25px;
}

.slide__info-short-description {
	font-size: 60px;
	margin: 10px 0 35px;
}

.slide__info-btn {
	margin-top: 30px;
}

.slide__img {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-revere {
	flex-direction: row-reverse;
}

.slide-controll {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	outline: 0;

	border: 0;
	border-radius: 50%;
	font-size: 20px;

	display: flex;
	align-items: center;
	padding: 10px;
	transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide-controll:hover {
	background-color: var(--black-color);
	color: var(--white-color);
}

.slide-prev {
	left: -80px;
}

.slide-next {
	right: -80px;
}

.slider:hover .slide-prev {
	left: 50px;
}

.slider:hover .slide-next {
	right: 50px;
}

/* slide animation */
.top-down {
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .top-down {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.right-left {
	transform: translateX(100%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .right-left {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.left-right {
	transform: translateX(-100%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .left-right {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.trans-delay-0-2 {
	transition-delay: 0.2s;
}

.trans-delay-0-4 {
	transition-delay: 0.4s;
}

.trans-delay-0-6 {
	transition-delay: 0.6s;
}
/* end slide animation */
/* end hero section */

/* promotion section */
.promotion {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
}

.promotion__box {
	display: flex;
	justify-content: space-between;

	background-color: var(--second-bg-color);
	border-radius: 5px;
	padding: 20px;
}

.promotion__box + .promotion__box {
	margin-left: 20px;
}

.promotion__box:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.promotion__text {
	width: 60%;
}

.promotion__title {
	margin-bottom: 5px;
}

.promotion__description {
	font-size: 15px;
}

.promotion__img {
	width: 30%;
	transition: transform 0.2s ease;
}

.promotion__box:hover .promotion__img {
	transform: scale(1.2);
}
/* end promotion section */

/* section */
.section {
	margin-top: 100px;
}

.section__header {
	text-align: center;
	margin-bottom: 30px;
}

.section__header-title {
	text-transform: uppercase;
}

.section__footer {
	margin-top: 30px;
	text-align: center;
}
/* end section */

/* special product */
.special {
	margin-top: 50px;
	display: flex;
}

.special__img {
	width: 40%;
}

.special__info {
	margin-left: 20px;
	flex: 1;
}

.special__name {
	margin: 50px 0 30px;
	font-size: 35px;
}

.special__description {
	margin-bottom: 30px;
}
/* end special product */

/* blogs */
.blog {
	display: flex;
	margin-bottom: 60px;
}

.blog__img,
.blog__info {
	width: 50%;
}

.blog__info {
	padding: 50px;
}

.blog__title {
	font-size: 30px;
	margin-bottom: 30px;
}

.blog__preview {
	margin-bottom: 50px;
}
/* end blogs */
