.categories {
	margin-top: 20px;
}

.categories__head {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.categories__pagination {
	margin-top: 20px;
}
