.change-password {
	padding: 0 200px;
}

.change-password__item + .change-password__item {
	margin-top: 20px;
}

.change-password__item {
	display: flex;
	align-items: center;
}

.change-password__name {
	width: 30%;
	color: #555;
}

.change-password__input {
	flex: 1;
	outline: 0;
	padding: 10px;
	border: 1px solid #b6b6b6;
	border-radius: 2px;
}

.change-password__btn {
	margin-top: 20px;
	margin-left: 30%;
}
