.profile {
	display: flex;
	width: 100%;
}

.profile__info {
	width: 70%;
	margin-left: 30px;
}

.profile__info-item + .profile__info-item {
	margin-top: 20px;
}

.profile__info-item {
	display: flex;
	align-items: center;
}

.profile__info-name {
	width: 30%;
	color: #555;
}

.profile__info-input {
	flex: 1;
	outline: 0;
	padding: 10px;
	border: 1px solid #b6b6b6;
	border-radius: 2px;
}

.profile__info-input:read-only {
	border: 1px solid #e0e0e0;
	color: #999;
}

.profile__info-radio + .profile__info-radio {
	margin-left: 20px;
}

.profile__info-dropdown-birthday {
	display: flex;
	align-items: center;
	flex: 1;
}

.profile__info-dropdown + .profile__info-dropdown {
	margin-left: 20px;
}

.profile__info-dropdown-list {
	width: 100%;
}

.profile__info-btn {
	margin-top: 20px;
	margin-left: 30%;
}

.profile__avatar-wrapper {
	flex: 1;
	margin: 0 30px 0 50px;
	padding-left: 50px;
	border-left: 1px solid #e0e0e0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile__avatar {
	border-radius: 50%;
	width: 120px;
}

.profile__avatar-btn {
	margin: 20px 0;
	background-color: var(--white-color);
	border: 1px solid #ccc;
	transition: background-color 0.2s ease;
}

.profile__avatar-btn:hover {
	background-color: #f9f9f9;
}

.profile__avatar-description {
	font-size: 15px;
	color: #777;
}
